<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()"  #materiasAdd="ngForm">
      <div class="form-group">
        <label for="materias">Phone</label>
        <ng-multiselect-dropdown
          [data]="materiass"
          [placeholder]="'Insert the professor materias'"
          [(ngModel)]="profesor.materiaModelList"
          [ngModelOptions]="{standalone: true}"
          id="materias"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
          <div [hidden]="" class="alert alert-danger">Materias is required</div>
        </ng-multiselect-dropdown>
      </div>
      <div class="btn-group">
        <button type="submit" [disabled]="!materiasAdd.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>
