<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">Name</th>
        <th class="align-middle" scope="col">Email</th>
        <th class="align-middle" scope="col">Phone Number</th>
        <th class="align-middle" scope="col">
          <div class="row d-flex align-items-center">
            <div class="col">
              Operations
            </div>
            <div class="col">
              <button *ngIf="hasAdmPrivileges()" (click)="addUser()" class="btn btn-success">Add User</button>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let profesor of profesors">
        <td>{{ profesor.id }}</td>
        <td>{{ profesor.name }}</td>
        <td>{{profesor.email}}</td>
        <td>{{profesor.phoneNumber}}</td>
        <td>
          <div class="btn-group">
            <button *ngIf="hasAdmPrivileges()" (click)="editProfesor(profesor.id)" class="btn btn-primary mx-1">Edit</button>
            <button *ngIf="hasAdmPrivileges()" (click)="open(content,profesor.id)" class="btn btn-danger">Delete</button>
            <button *ngIf="hasAdmPrivileges()" (click)="addProfesorMateria(profesor.id)" class="btn-secondary mx-2"> Add Materias </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm dialog</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-center">
        Are you sure you want to delete this item?
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
  </div>
</ng-template>
